.places__paragraph {

}



@media (min-width: 1280px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px;
  }
  .places__paragraph:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width:1024px) and (max-width: 1279px)  {
  .places__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px;
  }
  .places__paragraph:last-of-type {
    margin-bottom: -4px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 24px;
  }
  .places__paragraph:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 5% 24px 6.86%;
  }
  .places__paragraph:last-of-type {
    margin-bottom: 0;
  }
}
