@import url('./__header/page__header.css');
@import url('./__lead/page__lead.css');
@import url('./__intro/page__intro.css');
@import url('./__photo-grid/page__photo-grid.css');
@import url('./__footer/page__footer.css');
@import url('./__cover/page__cover.css');

.page {
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .page {
    min-width: 1280px;
    max-width: 1600px;
  }
}

@media (min-width:1024px) and (max-width: 1279px) {
  .page {
    min-width: 1024px;
    max-width: 1279px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .page {
    min-width: 426px;
    max-width: 1023px;
  }
}

@media (max-width: 425px) {
  .page {
    min-width: 320px;
    max-width: 425px;
  }
}
