@import url('./__list/photo-grid__list.css');
@import url('./__item/photo-grid__item.css');
@import url('./__image/photo-grid__image.css');

.photo-grid {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 1280px) {
  .photo-grid {
    width: 92.5%;
  }
}

@media (min-width:1024px) and (max-width: 1279px)  {
  .photo-grid {
    width: 90.625%;

  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: 93.75%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .photo-grid {
    width: 98%;
  }
}

@media (max-width: 639px) {
  .photo-grid {
    width: 90%;
  }
}
