.header__link {
  text-decoration: none;
  color: inherit;
}


@media (min-width: 1280px) {
  .header__link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (min-width:1024px) and (max-width: 1279px)  {
  .header__link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .header__link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 425px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
  }
}
