.footer__link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  opacity: .8;
  transition: .2s linear;
}

@media (min-width: 1280px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width:1024px) and (max-width: 1279px)  {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 751px) and (max-width: 1023px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 750px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
