@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__link/cover__link.css');



.cover {

  background-image: url('../../images/covers/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width:1184px) {
  .cover {
    max-width: 1184px;
    height: 740px;
  }
}

@media (min-width:1024px) and (max-width: 1183px)  {
  .cover {
    width: 100%;
    padding-bottom: 62.5%;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    padding-bottom: 62.5%;
  }
}

@media (max-width: 425px) {
  .cover {
    width: 100%;
    padding-bottom: 62.5%;
  }
}
