.page__footer {
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .page__footer {
    padding: 0 48px 24px;
    max-width: 1280px;
  }
}

@media (min-width:1024px) and (max-width: 1279px)  {
  .page__footer {
    padding: 0 4.7% 24px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .page__footer {
    padding: 0 3.125% 24px;
  }
}

@media (max-width: 425px) {
  .page__footer {
    padding: 0 0 24px 5%;
  }
}

